.cart-items {
    display: grid;
    grid-auto-flow: column;

    .left-side {
        .table-head {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 1fr 1fr 1fr;
            border-bottom: 1px black solid;

            span {
                width: 86px;
            }
        }

        .cart-item {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 86px 1fr;
            grid-gap: 15px;
            width: 100%;
            margin-top: 15px;
            border-bottom: 1px black solid;

            .article-image {
                width: 86px;

                img {
                    width: 100%;
                    height: auto;
                    top: 0;
                    left: 0;
                    z-index: 0;
                }
            }

            .aticle-content {
                width: 100%;
                display: grid;
                grid-auto-flow: column;
                grid-template-columns: 1fr 1fr 1fr;

                div {
                    text-align: center;
                }
            }
        }

    }
    .right-slide{
        overflow: hidden;
        border: 1px solid black;
        width: 80%;
        margin-left: 20%;
        hr{
        width: 80%;
        }
        button{
            width: 80%;
            height: 30px;
            background-color: black;
            color: white;
        }
    }
}