.react-multiple-carousel__arrow--right {
    right: calc(4% + 1px) !important;
    top: calc(4% + 1px) !important;
}

.react-multiple-carousel__arrow--left {
    left: calc(86% + 1px) !important;
    top: calc(4% + 1px) !important;
}

.card {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: 0.3s ease-in-out;

    .card-image {
        width: 380px;
        height: 180px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .card-content {
        padding: 1rem;
    }

    .card-title {
        font-size: 1.4rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 1rem;
        color: #333;
        text-decoration: none;
    }

    .card-price {
        font-size: 1.2rem;
        font-weight: 600;
        color: #333;
        text-decoration: none;
    }
}

.react-multi-carousel-list {
    height: 45vh !important;
}

a {
    text-decoration: none;
}