main{
    .rezise_container_articles{
        // padding: 0 40px;
        h2{
            margin-top: 2rem;
            font-size: 1.4rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        .container_articles {
            overflow-x: scroll;
            display: flex;
            transition: all 0.5s ease-in-out;

            .article_content {
                width: max-content;
                margin-left: 9px;
                background-color: white;

                .card-image {
                    width: 500px;
                    height: 250px;
                    object-fit: cover;
                }

                .card-content {
                    padding: 1rem; 
                }

                .card-title {
                    font-size: 1.4rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    margin-bottom: 1rem;
                }

                .card-description {
                    font-size: 1rem;
                    color: gray;
                    margin-bottom: 1rem;
                }

                .card-price-review {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .card-price {
                    font-size: 1.2rem;
                    font-weight: 600;
                }

                .card-review {
                    display: flex;
                    align-items: center;
                    font-size: 1rem;
                    color: gray;

                    span {
                        margin-left: 0.5rem;
                    }
                }
            }
        }
    }       
}

.container_articles::-webkit-scrollbar {
    height: 10px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    width: 2px !important;
    &-thumb {
        height: 10px;
        width: 2px !important;
        border-radius: 10px;
        transition: all 0.5s ease-in-out;
        background-color: #a2a2a2;
    }
}
.container_articles::-moz-scrollbar {
    height: 10px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    width: 12px;
    &-thumb {
        border-radius: 10px;
        transition: all 0.5s ease-in-out;
        background-color: #a2a2a2;
    }
}