main{
    .rezise_container_articles{
        padding: 0 40px;
        h2{
            margin-top: 2rem;
            // text-align: center;
            // font-size: xx-large;
        }
        .container_articles {
            overflow-x: scroll;
            display: flex;
        
            .article_content {
                width: max-content;
                margin-left: 9px;
                background-color: white;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        
                .card-image {
                    width: 500px;
                    height: 250px;
                    object-fit: cover;
                }
        
                .card-content {
                    padding: 1rem;
                }
        
                .card-title {
                    font-size: 1.5rem;
                    margin-bottom: 0.5rem;
                }
        
                .card-description {
                    font-size: 1rem;
                    color: gray;
                    margin-bottom: 1rem;
                }
        
                .card-price-review {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
        
                .card-price {
                    font-size: 1.2rem;
                    font-weight: 600;
                }
        
                .card-review {
                    display: flex;
                    align-items: center;
                    font-size: 1rem;
                    color: gray;
        
                    span {
                        margin-left: 0.5rem;
                    }
                }
            }
        }
    }       
}

.container_articles::-webkit-scrollbar {
    width: 12px;
    // background-color: ;
}

.container_articles::-moz-scrollbar {
    width: 12px;
    // background-color: #F5F5F5;
}

